.middle-header__cart:hover .basket-small {
    display: block;
}
.basket-small {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 1010;
    cursor: auto;
    width: 30vw;
    max-width: 500px;
    background-color: #fff;
    &__item {
        padding: 15px;
        display: flex;
        justify-content: flex-start;
        &:hover {
            background-color: #eee;
        }
    }
    &__img {
        flex-grow: 0;
        margin-right: 10px;        
    }
    &__name {
        flex-grow: 0;
    }
    &__delete {
        flex-grow: 2;
        text-align: right;
        img {
            opacity: .25;
            &:hover {
                opacity: 1;
            }            
        }
    }
    &__footer {
        padding: 15px;
        background-color: #eee;
    }
}