.bottom-header {
    margin: 10px 0 12px;
    &__menu {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    &__item {
        margin: 0 10px;
        position: relative;
        overflow: hidden;
        & a {
            padding: 7px 0;
        }
        &:hover::after {
            opacity: 1;
            transform: translateX(0);
        }
        &::after{
            position: absolute;
            text-align: center;
            content: "";
            background: #141415;
            height: 2px;
            width: 100%;
            bottom: 0;
            left: 0;
            opacity: 0;            
            transform: translateX(-100%);            
            backface-visibility: hidden;            
            perspective: 1000;            
            transition: opacity .5s ease,-webkit-transform .5s ease;
            transition: transform .5s ease,opacity .5s ease;
            transition: transform .5s ease,opacity .5s ease,-webkit-transform .5s ease;
        }
    }    
}