.catalog-menu {
    &__title {
        font-weight: bold;
        font-size: 1rem;
        opacity: .87;
    }
    &__parent, &__child {
        margin: 0;
        list-style: none;
        padding: 0;
        li {
            margin-bottom: 3px;        
            a {
                padding: 2px 8px;
                border-radius: 4px;
                &:hover {
                    background: #f4f5f5;
                    color: #000;
                }
            }
        }
    }

    &__child {
        padding-left: 16px;
    }
    &__parent {
        li {
            a {
                padding-left: 24px;
                position: relative;
                &::after {
                    display: block;
                    content: "";
                    position: absolute;
                    left: 10px;
                    top: 50%;
                    border: solid #000;
                    border-width: 0 1px 1px 0;
                    width: 5px;
                    height: 5px;
                    transform: translateY(-50%) rotate(135deg);
                    transition: left .5s;
                }
                &:hover::after {
                    left: 5px;
                }
            }
        }
    }
}