.element-reviews {
    &__title {
        font-weight: bold;
        font-size: 24px;
        border-bottom: 1px solid rgba(0,0,0,.12);
        padding: 20px 0;
        margin-bottom: 25px;
    }
    &__count {
        opacity: .54;
    }

    &__name {
        font-weight: bold;
        margin-bottom: 10px;
    }

    &__star {
        display: inline-flex;
    }
    &__date {
        opacity: .54;
    }
    &__text {
        margin-top: 10px;
    }

    &__photo {
        margin-top: 15px;
    }

    &__more {
        width: auto;
        font-weight: 500;
        text-align: center;
        border-radius: 8px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
        background-color: transparent;
        border: 1px solid #e53935;
        transition: .15s ease;
        font-family: Roboto,sans-serif;
        height: 42px;
        font-size: 1rem;
        padding: 10px 20px;
        margin-top: 40px;
    }
}