.footer {
    padding: 55px 0 35px;
    border-bottom: 1px solid rgba(0,0,0,.12);
    &__title {
        font-size: 14px;
        margin-bottom: 10px;
        font-weight: 400;
        opacity: 0.54;
    }
}

.footer-social {
    margin-bottom: 40px;
    &__items {
        display: flex;
        justify-content: flex-start;
        & a {
            margin-right: 10px;
        }
    }
}

.footer-apps {
    margin-bottom: 40px;
    &__items {
        display: flex;
        justify-content: flex-start;
        & a {
            margin-right: 10px;
        }
    }
    &__name {
        color: #000;
        font-weight: bold;        
    }
}

.footer-menu {
    &__title {
        padding-bottom: 10px;
        opacity: 0.87;
    }
    &__items {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        a {            
            opacity: 0.87;
            &:hover {
                opacity: 1;
            }
        }
    }
}