.main-list-products {
    &__title {
        margin-top: 20px;
        font-weight: bold;
        font-size: 24px;
    }

    &__items {
        margin-top: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;        
    }

    &__item {
        margin-right: 15px;
        margin-bottom: 15px;
        width: 250px;
    }

    &__more {
        width: 180px;
        margin: 20px auto 40px;
        border: none;
        background: rgba(0,0,0,.06);
        color: rgba(0,0,0,.54);
        text-align: center;
        border-radius: 8px;
        transition: .15s ease;
        height: 42px;
        font-size: 1rem;
        padding: 10px 20px;
        cursor: pointer;        
        &:hover {
            background: rgba(0,0,0,.12);
            color: rgba(0,0,0,.74);
        }
    }
}