.section-card {
    width: 100%;
    transition: all .25s;
    position: relative;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;

    &:hover {
        box-shadow: 0 10px 40px -16px rgba(0, 0, 0, .16);
    }
    &:hover &__img img {
        transform: scale(1.02);
    }

    &__img {        
        background-color: #EFEFEF;        
        img {
            max-width: 100%;            
            transition: all .25s;
        }
    }

    &__info {
        padding: 12px 8px;
    }

    &__title {
        font-size: 13px;
    }

    &__star {
        display: flex;
        flex-direction: row;
        color: #8a8d93;
    }

    &__number {
        margin: 0 4px;
    }

    &__price {
        margin-top: 26px;
        font-weight: bold;
        &--price {
            font-size: 16px;
            font-weight: 500;
        }
        &--old {
            font-size: 12px;
            font-weight: 400;
            color: #757575;
            text-decoration: line-through
        }
    }

    &__favorite {
        position: absolute;
        top: 11px;
        right: 9px;
        z-index: 10;
        cursor: pointer;
        opacity: .4;
        transition: opacity .3s ease;
        &:hover {
            opacity: 1;
        }
    }
}