.top-header {
	background: #f4f5f5;
	min-height: 45px;
    padding-top: 10px;

	&__wrapper {
		display: flex;
		flex-wrap: wrap;	
		justify-content: space-between;	
		align-items: center;
	}

	&__left {
		display: flex;
		flex-direction: row;
	}

	&__country {
		margin-right: 15px;
	}

	&__city {
		text-decoration: underline;
		color: #000;
	}

	&__cart {
		margin-left: 15px;
	}
}